<!DOCTYPE html>
<html>
<head>
	<!-- Use custom title here -->
	<title><%= prefs.customTitle %></title>
</head>
<body>
	<form action="/bot" method="post">
		<input name="url" placeholder="Where should the bot go?" />
		<button type="submit">Submit</button>
	</form>
</body>
</html>